$verde: #d9e021
$gris-o: #222222
$gris-c: #9d9d9d
$blanco: #fff

=transicion($valor)
  -webkit-transition: $valor
  -moz-transition: $valor
  -o-transition: $valor
  -ms-transition: $valor
  transition: $valor

.nav.navbar-nav>li>a
  color: $gris-c
  +transicion(all 400ms ease)

.nav.navbar-nav>li>a:hover
  color: $verde

.noround
  border-radius: 0px

.parrafo
  font:
    size: 1em

.one-one
  height: 2em
  width: 2em

.navbar-v-center
  margin: .75em .5em

$sm-view: 768px

.wide-searchbar
  width: 98%
  @media screen and (max-width: $sm-view)
    width: 92%

.input-group.form-control.noborder.input-sm
  width: 100%
  padding: 5px 0px

.wide-searchbar.noborder
  margin: 2px 0px

.glyphicon-vpadding-5
  padding: 5px 0px

.navbar-form.custom-pad
  padding:
    top: 0px
    right: 0px
    bottom: 0px
    left: 15px

.compact-navicon
  margin-right: 0px

.navbar-logo
  height: 1.4em

.navbar-icon
  background-color: $gris-o
  border: 1px solid $verde
  color: $verde

.noborder
  border: none

.mr15
  margin-right: 15px

.text-green
  color: $verde

.navbar-cart-text
  font:
    size: .8em
    weight: 300

.menu-btn
  font:
    family: 'oswald'
    weight: 300

.footer-inverse
  background-color: $gris-o
  color: $gris-c

h1, h2, h3, h4, h5, h6
  font-family: 'oswald'
  letter-spacing: .03em

.btn-green
  border: 1px solid $verde
  padding: .3em 1.3em
  border-radius: 5px
  color: $verde
  background-color: $gris-o
  font-family: 'oswald'
  letter-spacing: .03em

.mt-3
  margin-top: 3px

.mt-5
  margin-top: 5px

.mt-10
  margin-top: 10px

.mt-20
  margin-top: 20px

.mt-30
  margin-top: 30px

.mt-40
  margin-top: 40px

.mt-50
  margin-top: 50px

.mb-3
  margin-bottom: 3px

.mb-5
  margin-bottom: 5px

.mb-10
  margin-bottom: 10px

.mb-20
  margin-bottom: 20px

.mb-30
  margin-bottom: 30px

.mb-40
  margin-bottom: 40px

.mb-50
  margin-bottom: 50px
