footer.container-fuid.footer-inverse
  .container
    .row
      .col-sm-6
        .col-sm-12.mb-20
          img(src='img/logo.png')
        .col-sm-4
          ul
            li
              a(href="#") Home
            li
              a(href="#") Nosotros
            li
              a(href="#") Tienda
            li
              a(href="#") Blog
            li
              a(hre  f="#") Contacto
        .col-sm-4
          ul
            li
              a(href="#") Elemento
            li
              a(href="#") Elemento
            li
              a(href="#") Elemento
            li
              a(href="#") Elemento
              li
              a(href="#") Elemento
        .col-sm-4
          ul
            li
              a(href="#") Elemento
            li
              a(href="#") Elemento
            li
              a(href="#") Elemento
            li
              a(href="#") Elemento
            li
              a(href="#") Elemento
      .col-sm-6
        .col-sm-8
          h4.text-uppercase.mb-20 suscríbete a nuestro newsletter
          form.navbar-form.form-control.custom-pad
            input.input-group.form-control.input-sm.noborder(type='email', placeholder='Ingresa tu e-mail')
          button.btn-green.text-uppercase.mt-3 enviar
      hr
      p.text-center &copy; José Castro
