extends layout

block content
  .container.pt-80
    .row
    .col-sm-8.mb-50
      h1.mt-0.text-uppercase Lista de compra
      .mt-30
        .row
          .col-sm-2.col-xs-3
            a(href="producto.html")
              img.img-responsive(src="http://placehold.it/200x200", alt="")
          .col-sm-10.col-xs-9
            .row
              .pull-left
                h4.text-uppercase.mt-0 Lorem ipsum dolor sit amet.
              .pull-right
                button.remove &times;
            .cart-item
              .mt-10
                p.cart-label-form Color: Blanco | Talla: M
              .input-group
                form
                  .form-group
                    label.cart-label-form(for='cantidad') Cantidad
                    input#cantidad.cart-qty(type='text', placeholder='1')
              div
                p.cart-item-price Bs. 0,00 | Sub-Total: Bs. 0,00
      .mt-40
        .row
          .col-sm-2.col-xs-3
            a(href="producto.html")
              img.img-responsive(src="http://placehold.it/200x200", alt="")
          .col-sm-10.col-xs-9
            .row
              .pull-left
                h4.text-uppercase.mt-0 Lorem ipsum dolor sit amet.
              .pull-right
                button.remove &times;
            .cart-item
              .mt-10
                p.cart-label-form Color: Blanco | Talla: M
              .input-group
                form
                  .form-group
                    label.cart-label-form(for='cantidad') Cantidad
                    input#cantidad.cart-qty(type='text', placeholder='1')
              div
                p.cart-item-price Bs. 0,00 | Sub-Total: Bs. 0,00
      .cart-list-bottom.mt-40.pt-20
        a.text-uppercase.hidden-xs(href="#") continuar comprando 
        form.pull-right.form-wrapper
          .form-group.input-wrapped
            input#code(type='text', placeholder='Código de Descuento')
            span.glyphicon.glyphicon-ok.pull-right.form-icon
              //button.btn-solid-dgray.text-uppercase.pull-right.mt-20(type='button') Aplicar cupon de descuento
    .col-sm-4
      .sumario
        h2.h3.text-uppercase.text-center.mb-50 Resumen de compra
        div.table-responsive
          table.table
            tr
              td.noborder
                p.text-left.text-dgray Sub-Total
              td.noborder
                p.text-right.text-dgray 0,00
            tr
              td.noborder
                p.text-left.text-dgray Descuento
              td.noborder
                p.text-right.text-dgray 0,00
            tr
              td.noborder
                p.text-left.text-dgray Manejo y Envío
              td.noborder
                p.text-right.text-dgray 0,00
            tr
              td 
                p.text-left.text-dgray.total Total
              td
                p.text-right.text-dgray.total 0,00
                  span.pull-left Bs.
        div.text-center
          a(href="checkout.html")
            button.btn-green.btn-dgray.text-uppercase Pagar
    section.col-sm-12
      .row
        hr
        h2.text-uppercase.mt-50 Lo más vendido
        article.col-sm-4.col-md-3.mb-30
          a(href='producto.html')
            img.img-responsive(src="http://placehold.it/350x350")
          h3.text-uppercase.h4 Lorem ipsum dolor sit.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad eaque cupiditate quibusdam nihil recusandae!
          h5 Bs. 2.500,00
        article.col-sm-4.col-md-3.mb-30
          a(href='producto.html')
            img.img-responsive(src="http://placehold.it/350x350")
          h3.text-uppercase.h4 Lorem ipsum dolor sit.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa atque blanditiis, vero ab expedita ipsam.
          h5 Bs. 2.500,00
        article.col-sm-4.col-md-3.mb-30
          a(href='producto.html')
            img.img-responsive(src="http://placehold.it/350x350")
          h3.text-uppercase.h4 Lorem ipsum dolor sit.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ex sapiente assumenda aliquid, vitae libero.      
          h5 Bs. 2.500,00
        article.col-md-3.hidden-sm.mb-30
          a(href='producto.html')
            img.img-responsive(src="http://placehold.it/350x350")
          h3.text-uppercase.h4 Lorem ipsum dolor sit.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ex sapiente assumenda aliquid, vitae libero.      
          h5 Bs. 2.500,00
    section.col-sm-12.mb-50
      .row
        hr
        h2.text-uppercase.mt-50.mb-30 comentarios
        .col-sm-2.col-md-1.text-center.col-xs-3
          img.img-responsive.img-circle.mb-20(src="http://www.placehold.it/150x150")
        .col-sm-10.col-md.11.col-xs-9
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet accusantium nesciunt molestiae consequuntur nobis possimus, accusamus omnis dicta culpa excepturi soluta nihil placeat unde labore inventore, commodi. Consequatur, hic, eveniet?
          div
            span.glyphicon.glyphicon-star.rate
            span.glyphicon.glyphicon-star.rate
            span.glyphicon.glyphicon-star.rate
            span.glyphicon.glyphicon-star.rate
            span.glyphicon.glyphicon-star.rate
