extends layout

block content
  .container.pt-80
    .row
    .col-sm-8.mb-50
      article
        img.img-responsive(src="http://www.placehold.it/600x600")
    .col-sm-4.hidden-xs
      .sumario
        h2.h3.text-uppercase.text-center.mb-50 Resumen de compra
        div.table-responsive
          table.table
            tr
              td.noborder
                p.text-left Sub-Total
              td.noborder
                p.text-right 0,00
            tr
              td.noborder
                p.text-left Descuento
              td.noborder
                p.text-right 0,00
            tr
              td.noborder
                p.text-left Manejo y Envío
              td.noborder
                p.text-right 0,00
            tr
              td 
                p.text-left Total
              td
                p.text-right 0,00
        div.text-center
          button.btn-green.btn-dgray.text-uppercase Pagar
      .input-group
        form
          .form-group
            select(name='talla')
              option(value='s') S
              option(value='m') M
              option(value='l') L
          .form-group
            select(name='color')
              option(value='blanco') Blanco
              option(value='azul') Azul
              option(value='naranja') Naranja
              option(value='verde') Verde
      button.btn-solid-dgray.text-uppercase(type='button') Añadir al carrito
    section.col-sm-12
      .row
        hr
        h2.text-uppercase.mt-50 Lo más vendido
        article.col-sm-4.col-md-3.mb-30
          a(href='producto.html')
            img.img-responsive(src="http://placehold.it/350x350")
          h3.text-uppercase.h4 Lorem ipsum dolor sit.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad eaque cupiditate quibusdam nihil recusandae!
          h5 Bs. 2.500,00
        article.col-sm-4.col-md-3.mb-30
          a(href='producto.html')
            img.img-responsive(src="http://placehold.it/350x350")
          h3.text-uppercase.h4 Lorem ipsum dolor sit.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa atque blanditiis, vero ab expedita ipsam.
          h5 Bs. 2.500,00
        article.col-sm-4.col-md-3.mb-30
          a(href='producto.html')
            img.img-responsive(src="http://placehold.it/350x350")
          h3.text-uppercase.h4 Lorem ipsum dolor sit.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ex sapiente assumenda aliquid, vitae libero.      
          h5 Bs. 2.500,00
        article.col-md-3.hidden-sm.mb-30
          a(href='producto.html')
            img.img-responsive(src="http://placehold.it/350x350")
          h3.text-uppercase.h4 Lorem ipsum dolor sit.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ex sapiente assumenda aliquid, vitae libero.      
          h5 Bs. 2.500,00
    section.col-sm-12.mb-50
      .row
        hr
        h2.text-uppercase.mt-50.mb-30 comentarios
        .col-sm-2.col-md-1.text-center.col-xs-3
          img.img-responsive.img-circle.mb-20(src="http://www.placehold.it/150x150")
        .col-sm-10.col-md.11.col-xs-9
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet accusantium nesciunt molestiae consequuntur nobis possimus, accusamus omnis dicta culpa excepturi soluta nihil placeat unde labore inventore, commodi. Consequatur, hic, eveniet?
          div
            span.glyphicon.glyphicon-star.rate
            span.glyphicon.glyphicon-star.rate
            span.glyphicon.glyphicon-star.rate
            span.glyphicon.glyphicon-star.rate
            span.glyphicon.glyphicon-star.rate
