extends layout

block content
 #jumbo.jumbotron
   .traslucido
     .container
      .row
        .col-sm-8.col-sm-offset-2.text-center
          div.vcenter
            article.mb-40
              h1.mb-20 Lorem ipsum dolor sit amet.
              p.p-black.mb-50 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, voluptates ad vero maiores! Ea itaque, repellat aspernatur magnam officia quaerat omnis sapiente eligendi ipsa odio voluptatem aliquam harum ad perspiciatis?
            a.btn-green.text-uppercase.h3(href="#") botón
  section.container
    .row
    h2.text-uppercase.mt-50.mb-30 Lo más buscado
    .row
    article.col-sm-4
      a(href='producto.html')
        img.img-responsive(src="http://placehold.it/350x350")
      h3.text-uppercase.h4 Lorem ipsum dolor sit.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad eaque cupiditate quibusdam nihil recusandae!
      h5 Bs. 2.500,00
    article.col-sm-4
      a(href='producto.html')
        img.img-responsive(src="http://placehold.it/350x350")
      h3.text-uppercase.h4 Lorem ipsum dolor sit.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa atque blanditiis, vero ab expedita ipsam.
      h5 Bs. 2.500,00
    article.col-sm-4
      a(href='producto.html')
        img.img-responsive(src="http://placehold.it/350x350")
      h3.text-uppercase.h4 Lorem ipsum dolor sit.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ex sapiente assumenda aliquid, vitae libero.      
      h5 Bs. 2.500,00
  section.container.mb-50
    .row
      h2.text-uppercase.mt-50.mb-30 Lo más vendido
      article.col-sm-4
        a(href='producto.html')
          img.img-responsive(src="http://placehold.it/350x350")
        h3.text-uppercase.h4 Lorem ipsum dolor sit.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad eaque cupiditate quibusdam nihil recusandae!
        h5 Bs. 2.500,00
      article.col-sm-4
        a(href='producto.html')
          img.img-responsive(src="http://placehold.it/350x350")
        h3.text-uppercase.h4 Lorem ipsum dolor sit.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa atque blanditiis, vero ab expedita ipsam.
        h5 Bs. 2.500,00
      article.col-sm-4
        a(href='producto.html')
          img.img-responsive(src="http://placehold.it/350x350")
        h3.text-uppercase.h4 Lorem ipsum dolor sit.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ex sapiente assumenda aliquid, vitae libero.      
        h5 Bs. 2.500,00
    
section.container
  .row
    //- article.col-md-4*3>img.img-responsive[src="http://placehold.it/400x400"]+p>lorem
    article.col-md-4
      img.img-responsive(src="http://placehold.it/400x400", alt="")
      p.parrafo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nulla, numquam vitae velit eaque iusto earum dolores quos illo! Fugit est maiores, id atque molestiae enim ad quibusdam voluptatum blanditiis! 
    article.col-md-4
      img.img-responsive(src="http://placehold.it/400x400", alt="")
      p.parrafo Blanditiis pariatur in dolore, possimus voluptas sapiente laboriosam repellendus deserunt animi amet tempora beatae nemo a unde saepe hic eius facere mollitia labore quia natus. Accusantium ex totam, excepturi soluta.
    article.col-md-4
      img.img-responsive(src="http://placehold.it/400x400", alt="")
      p.parrafo Ea blanditiis quisquam omnis labore in, optio adipisci, distinctio suscipit cumque beatae debitis repellat totam sunt, quod asperiores laboriosam sed voluptate dicta! Fuga labore quis veniam harum voluptatibus ipsam saepe.
