<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Home
  link(rel="stylesheet", href="css/bootstrap.min.css")
  link(rel="stylesheet", href="css/style.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oswald:300")
  link(rel="stylesheet", href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css")
body
  include _nav
  block content
  include _footer
  script(src="js/jquery.min.js")
  script(src="js/bootstrap.min.js")
  script(src="js/jquery.sticky-kit.min.js")
  
