extends layout

block content
  .container
    section.pt-80
      ol.breadcrumb.text-uppercase
        li
          a(href='#') Home
        li
          a(href='#') Sección
        li.active Producto
      .row
      .col-sm-6
        article
          img.img-responsive(src="http://www.placehold.it/600x600")
        article
          ul.list-inline
            li
              a(href="#")
                img.img-responsive(src="http://www.placehold.it/40x40")
            li
              a(href="#")
                img.img-responsive(src="http://www.placehold.it/40x40")
            li
              a(href="#")
                img.img-responsive(src="http://www.placehold.it/40x40")
            li
              a(href="#")
                img.img-responsive(src="http://www.placehold.it/40x40")
            li
              a(href="#")
                img.img-responsive(src="http://www.placehold.it/40x40")
            li
              a(href="#")
                img.img-responsive(src="http://www.placehold.it/40x40")
      .col-sm-6
        article
          h1.h3.mt-0 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nihil nisi modi veniam tenetur recusandae rerum, sed nam odio repellendus aut! Harum illum optio facilis ut deleniti, beatae mollitia reiciendis.
        div
          span.glyphicon.glyphicon-star.rate
          span.glyphicon.glyphicon-star.rate
          span.glyphicon.glyphicon-star.rate
          span.glyphicon.glyphicon-star.rate
          span.glyphicon.glyphicon-star.rate
        div
          span.text-mini.text-uppercase compartir
          ul.footer-list.list-inline.footer-social
            li
              a(href="#")
                span.socicon-facebook
            li
              a(href="#")
                span.socicon-twitter
            li
              a(href="#")
                span.socicon-instagram
            li
              a(href="#")
                span.socicon-googleplus
        .input-group
          form
            .form-group
              select(name='talla')
                option(value='s') S
                option(value='m') M
                option(value='l') L
            .form-group
              select(name='color')
                option(value='blanco') Blanco
                option(value='azul') Azul
                option(value='naranja') Naranja
                option(value='verde') Verde
        button.btn-solid-dgray.text-uppercase(type='button') Añadir al carrito
    section.col-sm-12.mb-40
      .row
        hr
        h2.text-uppercase.mt-50.mb-30 Lo más vendido
        article.col-sm-3
          a(href='producto.html')
            img.img-responsive(src="http://placehold.it/350x350")
          h3.text-uppercase.h4 Lorem ipsum dolor sit.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad eaque cupiditate quibusdam nihil recusandae!
          h5 Bs. 2.500,00
        article.col-sm-3
          a(href='producto.html')
            img.img-responsive(src="http://placehold.it/350x350")
          h3.text-uppercase.h4 Lorem ipsum dolor sit.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa atque blanditiis, vero ab expedita ipsam.
          h5 Bs. 2.500,00
        article.col-sm-3
          a(href='producto.html')
            img.img-responsive(src="http://placehold.it/350x350")
          h3.text-uppercase.h4 Lorem ipsum dolor sit.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ex sapiente assumenda aliquid, vitae libero.      
          h5 Bs. 2.500,00
        article.col-sm-3
          a(href='producto.html')
            img.img-responsive(src="http://placehold.it/350x350")
          h3.text-uppercase.h4 Lorem ipsum dolor sit.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ex sapiente assumenda aliquid, vitae libero.      
          h5 Bs. 2.500,00
    section.col-sm-12.mb-50
      .row
        hr
        h2.text-uppercase.mt-50.mb-30 comentarios
        .col-sm-2.col-md-1.text-center.col-xs-3
          img.img-responsive.img-circle.mb-20(src="http://www.placehold.it/150x150")
        .col-sm-10.col-md.11.col-xs-9
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet accusantium nesciunt molestiae consequuntur nobis possimus, accusamus omnis dicta culpa excepturi soluta nihil placeat unde labore inventore, commodi. Consequatur, hic, eveniet?
          div
            span.glyphicon.glyphicon-star.rate
            span.glyphicon.glyphicon-star.rate
            span.glyphicon.glyphicon-star.rate
            span.glyphicon.glyphicon-star.rate
            span.glyphicon.glyphicon-star.rate
